@import url('file:///Users/cyrusperez/Desktop/MercedMarket-2/public/style.css');

.paymentDetails, .loginReminder, .paymentLink, .cart {
    margin: 0;
    padding: 1rem;
}

#payment-form {
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the form content horizontally */
}

#payment-form h2 {
    margin-top: 20px; /* Adjust the value as needed */
}

#payment-form label {
    display: block;
    margin-top: 10px; /* Adjust the value as needed */
}

#payment-form input {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px; /* Adjust the value as needed */
    width: 50%; /* Increase the width of the input boxes */
    height: 30px; /* Increase the height of the input boxes */
    padding: 10px; /* Add padding for better readability */
    font-size: 16px; /* Increase the font size */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px;
}

button {
    padding: 5px 10px;
}
.decrease {
    background: none;
    border: none;
    cursor: pointer;
}

.decrease:active {
    border: solid;
}

.decrease img {
    width: 20px;
    height: 20px;
}
