/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
} */

.login-container {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: 2rem auto;
}

.login-container h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #333;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container label {
    text-align: left;
    margin-bottom: 0.5rem;
    color: #666;
}

.login-container input {
    margin-bottom: 1rem;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-container button {
    padding: 0.75rem;
    border: none;
    background-color: #833BF6;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container button:hover {
    background-color: #5E27a1;
}

.login-container p {
    margin-top: 1rem;
    color: #666;
}

.login-container p a{
    color: #833BF6;
    text-decoration: none;
}