<% title = "Merced Market" %>
<% additionalStyles = ['/payment/payment.css'] %>

<%- contentFor('body') %>
<section class="homepage">
  <div class="center">
    <!-- Display saved cart items -->
    <div class="cart">
      <h1>Your cart</h1>
      <table>
        <thead>
          <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Action</th>
          </tr>
        </thead>
        <!-- Cart items dynamically inserted here -->
        <tbody>
          <tr>
            <td>Item image</td>
            <td>1</td>
            <td>$$$</td>
            <td>
              <button class="decrease">
                <img src="payment/trash.png" alt="Delete" class="delete-icon" />
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="paymentLink">
      <a href="/payment"> Continue to Payment</a>
    </div>
  </div>
</section>
