<% title='User Login Page' %>
<% additionalStyles=['/login/login.css'] %>
<% additionalScripts=['./login.js'] %>

<%- contentFor('body') %>
    <div class="login-container">
        <h1>Login</h1>
        <div id="loginForm">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="jdoe@sfsu.edu" required />

            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required />

            <button id="loginBtn">Login</button>
        </div>
        <p>Don't have an account? <a href="/register">Register here!</a></p>
    </div>