<% title = "Merced Market" %>
<% additionalStyles = ['/payment/payment.css'] %>

<%- contentFor('body') %>
<section class="homepage">
  <div class="center">
    <div class="loginReminder">
      <h4>Haven an account? <a href="#"> Login </a></h4>
    </div>
    <form id="payment-form">
      <h2>Customer Details</h2>
      <label for="first-name">First Name</label>
      <input type="text" id="firstName" required />
      <label for="last-name">Last Name</label>
      <input type="text" id="lastName" required />
      <label for="email">Email</label>
      <input type="text" id="email" required />
      <label for="phone-number">Phone Number</label>
      <input type="text" id="phone-number" required />

      <h2>Address Details</h2>
      <label for="street">Street</label>
      <input type="text" id="street" required />
      <label for="city">City</label>
      <input type="text" id="city" required />
      <label for="state">State</label>
      <input type="text" id="state" required />
      <label for="zip">Zip Code</label>
      <input type="text" id="zip" required />

      <h2>Payment Details</h2>
      <label for="card-name">Name on Card</label>
      <input type="text" id="card-name" required />
      <label for="card-number">Card Number</label>
      <input type="text" id="card-number" required />
      <label for="security-code">Security Code</label>
      <input type="text" id="security-code" required />

      <button type="submit">Submit Order</button>
    </form>
  </div>
</section>
