<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Details - Merced Market</title>
    <link href="/style.css" type="text/css" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header Section-->
    <header>
      <div class="container">
        <div class="logo">
          <h1>Merced Market</h1>
        </div>
        <nav class="navbar">
          <!-- Hamburger menu -->
          <button class="hamburger-menu" aria-label="Toggle navigation">
            &#9776;
            <!-- Hamburger icon -->
          </button>
          <!-- Search bar -->
          <div class="search-bar">
            <input
              type="text"
              id="searchInput"
              placeholder="Search for items..."
            />
            <button id="searchButton">
              <i class="fas fa-search"></i> Search
            </button>
          </div>

          <!-- Nav links -->
          <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/product">Products</a></li>
            <li><a href="/about">About Us</a></li>
            <li>
              <a href="/login"><i class="fas fa-user"></i> Login</a>
            </li>
            <li>
              <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section class="product-page">
        <div class="container">
          <div class="product-detail">
            <img src="/product/product-1.webp" alt="Product Image" />
            <div class="product-info">
              <h2>Product Title</h2>
              <p class="price">$19.99</p>
              <p class="description">
                This is a detailed description of the product. It includes all
                the features and benefits of the product.
              </p>
              <button id="addToCartButton">Add to Cart</button>
            </div>
          </div>
        </div>
      </section>
      <footer>
        <div class="footer-container">
          <ul class="footer-links">
            <li><a href="#">About</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
          <div class="footer-info">
            <p>&copy; 2024 Merced Market</p>
          </div>
        </div>
      </footer>
    </main>
    <!-- Link to JS -->
    <script src="script.js"></script>
  </body>
</html>
