<% title = 'Register' %> <% additionalStyles = ['/login/login.css'] %>

<%- contentFor('body') %>
<div class="login-container">
  <h1>Register</h1>
  <form id="loginForm">
    <label for="name">Full Name:</label>
    <input type="text" id="name" placeholder="John Doe" required />

    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      name="email"
      placeholder="jdoe@sfsu.edu"
      required
    />

    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      name="password"
      placeholder="Create a password"
      required
    />

    <label for="confirmPassword">Confirm Password:</label>
    <input
      type="password"
      id="confirmPassword"
      name="confirmPassword"
      placeholder="Re-enter your password"
      required
    />

    <button type="submit">Register</button>
  </form>
  <p>Already have an account? <a href="/login">Login here!</a></p>
</div>
<script src="register.js" defer></script>
